backports.functools-lru-cache==1.6.4
cachetools==3.1.1
certifi==2021.10.8
chardet==4.0.0
cycler==0.10.0
Cython==0.29.32
enum34==1.1.10
futures==3.4.0
google-auth==1.35.0
googleapis-common-protos==1.52.0
idna==2.10
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
packaging==20.9
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.2
python-speech-features==0.6
pytz==2022.6
requests==2.27.1
rsa==4.5
scikit-learn==0.20.4
scipy==1.2.3
six==1.16.0
urllib3==1.26.12
